.container {
  background-color: white;
  display: flex;
  border-radius: var(--border-radius-s);
}

.input {
  width: 80%;
  height: 37px;
  border: none;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.4s ease;
}

.input:focus {
  height: 49px;
  outline: none;
  line-height: 1.5rem;
  letter-spacing: 0.0375rem;
  text-overflow: unset;
}

.point,
.action {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connector {
  width: 2px;
  height: 13px;
  position: absolute;
  background-color: rgb(81, 81, 81);
}

.connector[data-position="start"] {
  top: 14px;
}

.connector[data-position="end"] {
  bottom: 14px;
}
