.header {
  border-bottom: 1px solid rgb(239, 239, 239);
}

.container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.segment {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.transitSegment {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
  border-bottom: 1px solid rgb(239, 239, 239);
  --line-color: rgb(55, 185, 76);
}

.leftCell,
.rightCell {
  padding: 4px;
}

.leftCell {
  display: flex;
  justify-content: center;
  position: relative;
  border-right: 1px solid rgb(239, 239, 239);
}
.button {
  background: none;
  border: none;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  font: inherit;
}
.rightCell,
.rightCellWalk {
  padding: 6px 12px;
}
.rightCell button:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.leftCellWalk {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-right: 1px solid rgb(239, 239, 239);
}
.rightCellWalk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

.connector {
  position: absolute;
  width: 3px;
  height: 112%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
}

.lineIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
}

.lineIconContainer > svg {
  flex-shrink: 0;
  height: 28px;
}

.leftCell {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  min-height: 30px;
}
.bStopTime {
  position: relative;
  z-index: 200;
  background-color: #f7f7f7;
}

.milestoneText {
  font-weight: 700;
}

.betweenStops {
  font-size: smaller;

  .stopNumber {
    color: #a6a6a6;
  }
}

.milestoneTime {
  background-color: #f0f0f0;
  padding: 2px 10px;
  border-radius: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerDot {
  width: 6px;
  height: 6px;
  background-color: #f7f6f6;
  border-radius: 50%;
}
.connector,
.finalConnector,
.dot {
  background-color: var(--line-color);
}
