.menu {
  width: min(400px, 95vw);
  height: 60vh;
  border-radius: var(--border-radius-m);
  background-color: var(--primary-bg-color);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
  overflow-y: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.topPanel {
  background-color: #056b89;
  padding: 10px;
}

.header {
  color: white;
  height: 30px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.button {
  color: white;
  width: 20px;
  height: 20px;
}

.divider {
  height: 5px;
}

.searchButton {
  width: 95%;
  height: 50px;
  font-size: large;
  color: white;
  background-color: #0a9f6b;
  display: flex;
  gap: var(--spacing-m);
  margin: auto;
  margin-top: var(--spacing-m);
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-m);
}

.searchButton:hover {
  background-color: #0a9966;
}
