.stop {
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  justify-content: start;
  gap: 10px;
  .icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      width: 25px;
      height: 25px;
    }
  }
  .info {
    font-size: smaller;
  }
}

.container {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}
