.button {
  border-radius: var(--border-radius-s);
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  height: 90px;
  padding: var(--spacing-s) var(--spacing-m);
  display: flex;
  gap: 1%;
  align-items: center;
}

.button:hover {
  transform: translateY(-1px);
}

.left,
.middle,
.right {
  height: 70%;
  white-space: nowrap;
  text-align: left;
}

.left {
  width: 20%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle {
  min-width: 0;
}

.right {
  width: 15%;
  font-size: small;
  text-align: right;
  color: #515151;
}

.lineContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  height: 50%;

  > svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}

.line {
  padding: var(--spacing-s);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius-s);
  font-weight: 600;
}

.timeInfo {
  display: flex;
  align-items: last baseline;
  height: 50%;
  gap: var(--spacing-s);
  flex-wrap: nowrap;
}

.milestoneTime {
  color: white;
  padding: 3px;
  border-radius: var(--border-radius-s);
}

.milestoneTime[data-type="origin"] {
  background-color: var(--origin-color);
}

.milestoneTime[data-type="destination"] {
  background-color: var(--destination-color);
}

.departureTime {
  font-size: 24px;
  font-weight: 600;
}
