.container {
  flex: 1;
  overflow-y: auto;
}

.stop {
  padding: var(--spacing-s) var(--spacing-m);
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.iconContainer {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
}

.info {
  font-size: smaller;
}
