.container {
  flex: 1;
  overflow-y: auto;
  padding: 0;
  list-style-type: none;
}

.stop {
  padding: var(--spacing-s) var(--spacing-m);
  display: flex;
  gap: 10px;
  width: 100%;
  text-align: left;
}

.iconContainer {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
}

.info {
  font-size: smaller;
}
