:root {
  --primary-bg-color: #f7f6f6;
  --secondary-bg-color: #056b89;
  --border-color: rgb(239, 239, 239);
  --border-width: 1px;
  --primary-text-color: #1a1a1a;
  --secondary-text-color: white;
  --border-radius-s: 6px;
  --border-radius-m: 12px;
  --origin-color: #0a9f6b;
  --destination-color: #00acf1;
  --spacing-s: 6px;
  --spacing-m: 12px;
}

html,
body {
  margin: 0;
  font-family: "Manrope", Arial, sans-serif;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  stroke: var(--primary-text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}
