.outerCircle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.outerCircle[data-size="md"] {
  width: 14px;
  height: 14px;
}

.outerCircle[data-size="sm"] {
  width: 12px;
  height: 12px;
}

.outerCircle[data-type="origin"] {
  background-color: var(--origin-color);
}

.outerCircle[data-type="destination"] {
  background-color: var(--destination-color);
}

.innerCircle {
  width: 6px;
  border-radius: 50%;
  height: 6px;
}
